.app {
    $aside-width: 400px;
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: $aside-width 1fr $aside-width;
    grid-template-areas: 'left main right';
    max-height: 100vh;
    overflow: hidden;
    @media only screen and (max-width: 768px) {
            max-height: unset;
            grid-template-columns: 1fr;
            grid-template-rows: 33svh 33svh auto;
            grid-template-areas:
                "right"
                "main"
                "left";
    }
}