.marker-panel {
    display: none;
    z-index: var(--z-sidebar);
    grid-area: right;
    background-color: light-dark(var(--clr-white), var(--clr-slate-950));
    padding: 16px;
    &[aria-hidden="false"] {
        display: block;
        animation: appear 0.25s;
    }
    &__header {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 16px;
    }
    &__title {
        font-size: var(--fs-200);
        font-weight: var(--fw-semi-bold);
        color: light-dark(var(--clr-blue-500), var(--clr-blue-400));
        align-self: center;
    }
    &__table {
        display: grid;
        grid-template-columns: auto 1fr; 
        margin-top: 32px;
        max-width: 600px;
        border: 1px solid light-dark(var(--clr-slate-300), var(--clr-slate-700));
        border-radius: 8px;
        overflow: hidden;
        font-family: sans-serif;
        font-size: 16px;
        dt, dd {
            padding: 12px 16px;
            border-bottom: 1px solid light-dark(var(--clr-slate-200), var(--clr-slate-700));
        }
        dt:last-of-type, dd:last-of-type {
            border-bottom: none;
        }
        dt {
            background-color: light-dark(var(--clr-slate-50), var(--clr-slate-800));
            font-weight: var(--fw-semi-bold);
            color: var(clr-slate-700);
            border-right: 1px solid light-dark(var(--clr-slate-200), var(--clr-slate-700)); 
            text-transform: capitalize;
        }
    }
}

@keyframes appear {
    from {
        transform: translateX(25vw);
    }
    to {
        transform: unset;
    }
}