.pick-list {
    display: block;
    &__fieldset {
        display: grid;
        background-color: light-dark(var(--clr-slate-50), var(--clr-slate-800));
        border: 1px solid light-dark(var(--clr-slate-200), var(--clr-slate-600));
        border-radius: 12px;
    }
    &__legend {
        margin-inline: auto;
        font-weight: var(--fw-medium);
        font-size: var(--fs-000);
    }
}
