.control-panel {
    z-index: var(--z-sidebar);
    grid-area: left;
    overflow: scroll;
    background-color: light-dark(var(--clr-white), var(--clr-slate-950));
    &__header {
        grid-template-columns: auto 1fr;
        font-size: var(--fs-200);
        color: light-dark(var(--clr-blue-500), var(--clr-blue-400));
        background-color: light-dark(var(--clr-slate-50), var(--clr-slate-900));
        padding-block: 32px;
        padding-inline: 16px;
        text-align: center;
        border-radius: 0px 0px 14px 14px;

        --_shadow-color: 0deg 0% 63%;
        --_shadow-elevation-low:
            0px 1px 1.1px hsl(var(--_shadow-color) / 0.34),
            0px 1.7px 1.9px -1.2px hsl(var(--_shadow-color) / 0.34),
            0px 4px 4.5px -2.5px hsl(var(--_shadow-color) / 0.34);

        box-shadow: none;

        // User's color scheme preference is set to light
        html:has(meta[name="color-scheme"][content="light"]) & {
            box-shadow: var(--_shadow-elevation-low);
        }

        // User's color scheme preference is set to auto and the browser's preference is light
        @media (prefers-color-scheme: light) {
            html:has(meta[name="color-scheme"][content="light dark"]) & {
                box-shadow: var(--_shadow-elevation-low);
            }
        }
    }
    &__title {
        display: inline;
        font-weight: var(--fw-medium);
        color: light-dark(var(--clr-slate-700), var(--clr-white));
    }
    &__content {
        margin: 16px;
    }
    &__footer {
        margin-block: 48px;
        padding: 16px;
    }
}