.control-panel {
    z-index: 1;
    grid-area: left;
    padding: 1rem;
    overflow: scroll;
    background-color: light-dark(var(--clr-white), var(--clr-black));
    &__title {
        font-size: var(--fs-200);
        font-weight: var(--fw-600);
        color: var(--clr-blue-500);
    }
    &__content {
        
    }
    &__form {
        display: grid;
        gap: 1rem; 
        width: 100%;
        padding: 1rem;
        & label {
            display: grid;
            grid-template-columns: 100px 1fr;
            gap: 1rem;
        }
        & input {
            min-width: 0;
            width: 100%;
            
        }
        & input[type='checkbox'] {
            justify-self: end;
            width: 1em;
            height: 1em;
        }
        &--generation {
            & label {
                display: grid;
                grid-template-columns: auto 100px 1fr;
                gap: 1rem;
            }
            & img {
                width: 1em;
                height: 1em;
                place-self: center;
            }
        }
    }
    
}