// ===================================================================================
// Abstract
// ===================================================================================
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
//------------------------------------------------------------------------------------
// Design System
//------------------------------------------------------------------------------------
    --clr-white:  hsl(0, 0%, 100%);
    --clr-black:  hsl(260, 7%, 8%);
    --clr-purple: hsl(300, 100%, 25%);
    --clr-blue-500: hsl(191, 100%, 37%);

    --ff-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --ff-poppins: "Poppins", sans-serif;

    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    --fs-000: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --fs-100: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
    --fs-200: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
    --fs-300: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
    --fs-400: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
    --fs-500: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
    --fs-600: clamp(3.3592rem, 2.7828rem + 2.5621vw, 4.7684rem);
    --fs-700: clamp(4.0311rem, 3.2418rem + 3.508vw, 5.9605rem);
    --fs-800: clamp(4.8373rem, 3.7682rem + 4.7514vw, 7.4506rem);
    --fs-900: clamp(5.8048rem, 4.3695rem + 6.379vw, 9.3132rem);
}
//------------------------------------------------------------------------------------
// Sass
//------------------------------------------------------------------------------------
    // https://www.smashingmagazine.com/2024/01/css-border-image-property/
    @mixin overlay($dir: bottom, $clr-1: #0003, $clr-2: #000) {
        border-image: fill 0 linear-gradient(to $dir, $clr-1, $clr-2);
    }
    
    @mixin breakout-background($clr) {
        border-image: conic-gradient($clr 0 0) fill #{'0//0'} 100vw;
    }