// ==================================================================================
// Utilities
//===================================================================================
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-top: calc(1ex - 1cap);
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--lines, 3);
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
}
.content-column {
    width: min(var(--max-width, 1400px), calc(100% - var(--gutter, 2rem) * 2));
    margin-inline: auto;
}
.container {
    container-type: inline-size;
}
.square {
    aspect-ratio: 1;
}
.order-swap {
    & > *:nth-child(2) {
        order: -1;
    }
}
//------------------------------------------------------------------------------------
// Display
//------------------------------------------------------------------------------------
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}
.hidden { 
    display: none; 
}
.contents {
    display: contents;
}
//------------------------------------------------------------------------------------
// Text
//------------------------------------------------------------------------------------
.uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
//------------------------------------------------------------------------------------
// Font Family
//------------------------------------------------------------------------------------
.ff-system {
    font-family: var(--ff-system);
}
//------------------------------------------------------------------------------------
// Font Size
//------------------------------------------------------------------------------------
.fs-000 {
    font-size: var(--fs-000);
}
.fs-050 {
    font-size: var(--fs-050);
}
.fs-100 {
    font-size: var(--fs-100);
}
.fs-200 {
    font-size: var(--fs-200);
}
.fs-300 {
    font-size: var(--fs-300);
}
.fs-400 {
    font-size: var(--fs-400);
}
.fs-500 {
    font-size: var(--fs-500);
}
.fs-600 {
    font-size: var(--fs-600);
}
.fs-700 {
    font-size: var(--fs-700);
}
.fs-800 {
    font-size: var(--fs-800);
}
.fs-900 {
    font-size: var(--fs-900);
}
//------------------------------------------------------------------------------------
// Font Weight
//------------------------------------------------------------------------------------
.fw-thin {
    font-weight: var(--fw-thin);
}
.fw-extra-light {
    font-weight: var(--fw-extra-light);
}
.fw-light {
    font-weight: var(--fw-light);
}
.fw-normal {
    font-weight: var(--fw-normal);
}
.fw-medium {
    font-weight: var(--fw-medium);
}
.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}
.fw-bold {
    font-weight: var(--fw-bold);
}
.fw-extra-bold {
    font-weight: var(--fw-extra-bold);
}
.fw-black {
    font-weight: var(--fw-black);
}
//------------------------------------------------------------------------------------
// Margin & Padding
//------------------------------------------------------------------------------------
.my-auto {
    margin-block: auto;
}
.mx-auto {
    margin-inline: auto;
}
// $sizes: (
//     1:  4px,
//     2:  8px,
//     3:  12px,
//     4:  16px,
//     5:  24px,
//     6:  32px,
//     7:  48px,
//     8:  64px,
//     9:  96px,
//     10: 128px,
//     11: 192px,
//     12: 256px,
//     13: 384px,
//     14: 512px,
//     15: 640px,
//     16: 768px,
// );
// @each $size-name, $size-value in $sizes {
//     .m {
//         &-#{$size-name} {
//             margin: $size-value;
//         }
//         &y-#{$size-name} {
//             margin-block: $size-value;
//         }
//         &x-#{$size-name} {
//             margin-inline: $size-value;
//         }
//     }
// }
// @each $size-name, $size-value in $sizes {
//     .p {
//         &-#{$size-name} {
//             padding: $size-value;
//         }
//         &y-#{$size-name} {
//             padding-block: $size-value;
//         }
//         &x-#{$size-name} {
//             padding-inline: $size-value;
//         }
//     }
// } 