@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(260, 7%, 8%);
  --clr-purple: hsl(300, 100%, 25%);
  --clr-blue-500: hsl(191, 100%, 37%);
  --ff-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --ff-poppins: "Poppins", sans-serif;
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fs-000: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --fs-100: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --fs-200: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --fs-300: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --fs-400: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --fs-500: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
  --fs-600: clamp(3.3592rem, 2.7828rem + 2.5621vw, 4.7684rem);
  --fs-700: clamp(4.0311rem, 3.2418rem + 3.508vw, 5.9605rem);
  --fs-800: clamp(4.8373rem, 3.7682rem + 4.7514vw, 7.4506rem);
  --fs-900: clamp(5.8048rem, 4.3695rem + 6.379vw, 9.3132rem);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-poppins, --ff-system);
  font-weight: var(--fw-400);
  font-size: var(--fs-000);
  line-height: 1.4;
  color: light-dark(var(--clr-black), var(--clr-white));
  background-color: light-dark(var(--clr-white), var(--clr-black));
  text-rendering: optimizeSpeed;
  min-height: 100vh;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

input {
  accent-color: var(--clr-blue-500);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

:where(a):hover {
  text-decoration: underline;
  color: var(--clr-blue-500);
}

:target {
  scroll-padding-block-start: 2rem;
}

*:focus-visible {
  outline-offset: 4px;
  outline: 4px solid var(--clr-blue-500) !important;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.even-columns {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.grid-auto-fit {
  display: grid;
  grid-gap: var(--gap, 1rem);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min, 15ch)), 1fr));
}

.grid-auto-fill {
  display: grid;
  grid-gap: var(--gap, 1rem);
  grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--min, 15ch)), 1fr));
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flexbox-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1rem);
}

.flexbox-grid > * {
  flex: 1 1 var(--min, auto);
}

.stack {
  display: grid;
  grid-template-areas: "stack";
}

.stack > * {
  grid-area: stack;
}

.app {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 500px 1fr 500px;
  grid-template-areas: "left main right";
  max-height: 100vh;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .app {
    max-height: unset;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "left" "right";
  }
}

.map {
  grid-column: 1/-1;
  height: 100vh;
  width: 100vw;
}

.control-panel {
  z-index: 1;
  grid-area: left;
  padding: 1rem;
  overflow: scroll;
  background-color: light-dark(var(--clr-white), var(--clr-black));
}
.control-panel__title {
  font-size: var(--fs-200);
  font-weight: var(--fw-600);
  color: var(--clr-blue-500);
}
.control-panel__form {
  display: grid;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.control-panel__form label {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;
}
.control-panel__form input {
  min-width: 0;
  width: 100%;
}
.control-panel__form input[type=checkbox] {
  justify-self: end;
  width: 1em;
  height: 1em;
}
.control-panel__form--generation label {
  display: grid;
  grid-template-columns: auto 100px 1fr;
  gap: 1rem;
}
.control-panel__form--generation img {
  width: 1em;
  height: 1em;
  place-self: center;
}

.marker-controls {
  z-index: 1;
  grid-area: right;
}

.accordion {
  margin-top: 4rem;
}
.accordion__trigger {
  padding-block: 1.5rem;
  border: none;
  background-color: unset;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: start;
  align-items: center;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-weight: var(--fw-500);
  color: light-dark(var(--clr-black), var(--clr-white));
}
.accordion__trigger:hover {
  color: var(--clr-blue-500);
}
.accordion__trigger[aria-expanded=true] .accordion__arrow {
  transform: rotate(180deg);
}
.accordion__arrow {
  transition: transform 300ms ease-in-out;
  justify-self: end;
}
.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 350ms;
  visibility: hidden;
}
.accordion__content[aria-hidden=false] {
  grid-template-rows: 1fr;
  padding-bottom: 1rem;
  visibility: visible;
}
.accordion__content[aria-hidden=false] > div {
  animation: reveal-overflow 350ms forwards;
}
.accordion__content > div {
  overflow: hidden;
}

@keyframes reveal-overflow {
  0%, 99% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
.button {
  display: block;
  position: relative;
  border: none;
  background: transparent;
  padding: 0px;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.button--primary {
  --_btn-clr-bg: var(--clr-blue-500);
  --_btn-clr-txt: var(--clr-white);
  --_btn-fw: var(--fw-500);
}
.button__front {
  display: block;
  position: relative;
  padding: 0.75rem 2rem;
  border-radius: 0.75rem;
  font-weight: var(--_btn-fw);
  color: var(--_btn-clr-txt);
  background: var(--_btn-clr-bg);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.button__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  background: hsla(0, 0%, 0%, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.button__edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  background: linear-gradient(to left, color-mix(in srgb, hsl(0, 0%, 20%) 70%, var(--_btn-clr-bg) 30%) 0%, color-mix(in srgb, hsl(0, 0%, 30%) 70%, var(--_btn-clr-bg) 30%) 8%, color-mix(in srgb, hsl(0, 0%, 30%) 70%, var(--_btn-clr-bg) 30%) 92%, color-mix(in srgb, hsl(0, 0%, 20%) 70%, var(--_btn-clr-bg) 30%) 100%);
}
.button:hover {
  filter: brightness(110%);
}
.button:hover .button__front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button:active .button__front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.button:hover .button__shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button:active .button__shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.button:focus:not(:focus-visible) {
  outline: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-top: calc(1ex - 1cap);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--lines, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.content-column {
  width: min(var(--max-width, 1400px), 100% - var(--gutter, 2rem) * 2);
  margin-inline: auto;
}

.container {
  container-type: inline-size;
}

.square {
  aspect-ratio: 1;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.contents {
  display: contents;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.ff-system {
  font-family: var(--ff-system);
}

.fs-000 {
  font-size: var(--fs-000);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fw-100 {
  font-weight: var(--fw-100);
}

.fw-200 {
  font-weight: var(--fw-200);
}

.fw-300 {
  font-weight: var(--fw-300);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-600 {
  font-weight: var(--fw-600);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fw-800 {
  font-weight: var(--fw-800);
}

.my-auto {
  margin-block: auto;
}

.mx-auto {
  margin-inline: auto;
}

.m-1 {
  margin: 0.25rem;
}
.my-1 {
  margin-block: 0.25rem;
}
.mx-1 {
  margin-inline: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}
.my-2 {
  margin-block: 0.5rem;
}
.mx-2 {
  margin-inline: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}
.my-3 {
  margin-block: 0.75rem;
}
.mx-3 {
  margin-inline: 0.75rem;
}

.m-4 {
  margin: 1rem;
}
.my-4 {
  margin-block: 1rem;
}
.mx-4 {
  margin-inline: 1rem;
}

.m-5 {
  margin: 1.5rem;
}
.my-5 {
  margin-block: 1.5rem;
}
.mx-5 {
  margin-inline: 1.5rem;
}

.m-6 {
  margin: 2rem;
}
.my-6 {
  margin-block: 2rem;
}
.mx-6 {
  margin-inline: 2rem;
}

.m-7 {
  margin: 3rem;
}
.my-7 {
  margin-block: 3rem;
}
.mx-7 {
  margin-inline: 3rem;
}

.m-8 {
  margin: 4rem;
}
.my-8 {
  margin-block: 4rem;
}
.mx-8 {
  margin-inline: 4rem;
}

.p-1 {
  padding: 0.25rem;
}
.py-1 {
  padding-block: 0.25rem;
}
.px-1 {
  padding-inline: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}
.py-2 {
  padding-block: 0.5rem;
}
.px-2 {
  padding-inline: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}
.py-3 {
  padding-block: 0.75rem;
}
.px-3 {
  padding-inline: 0.75rem;
}

.p-4 {
  padding: 1rem;
}
.py-4 {
  padding-block: 1rem;
}
.px-4 {
  padding-inline: 1rem;
}

.p-5 {
  padding: 1.5rem;
}
.py-5 {
  padding-block: 1.5rem;
}
.px-5 {
  padding-inline: 1.5rem;
}

.p-6 {
  padding: 2rem;
}
.py-6 {
  padding-block: 2rem;
}
.px-6 {
  padding-inline: 2rem;
}

.p-7 {
  padding: 3rem;
}
.py-7 {
  padding-block: 3rem;
}
.px-7 {
  padding-inline: 3rem;
}

.p-8 {
  padding: 4rem;
}
.py-8 {
  padding-block: 4rem;
}
.px-8 {
  padding-inline: 4rem;
}/*# sourceMappingURL=main.css.map */