.pick-list-item {
    --space: 16px;
    &:where(:not(:last-of-type)) {
        border-bottom: 1px solid light-dark(var(--clr-slate-200), var(--clr-slate-600));
    }
    &__label {
        display: grid;
        align-items: center;
        gap: calc(var(--space) * 1.5);
        grid-auto-flow: column;
        grid-template-columns: auto 1fr;
        padding: var(--space);
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        &:is(:focus-within, :hover) {
            .pick-list-item__title {
                color: var(--clr-blue-500);
            }
        }
    }
    &__input {
        &[type='checkbox'] {
            margin-inline: calc(var(--space) * 1.5);
        }
        max-width: 100px;
        padding-inline: 0.25em;
    }
    &__content {
        display: grid;
    }
    &__title {
        font-weight: var(--fw-semi-bold);
    }
    &__description {
        color: vvar(--clr-slate-600);
    }
}